body {
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

}

a {
  text-decoration: none;
  color:black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

#menu_button {
  height:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#menu_button span{
  margin-left: 5px;
  margin-right: 5px;
}

#pricing_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

#wall, #custom {
  border-top: 2px solid #e9edf5;
}
.pack {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.pricing_pack {
  width:250px;
  padding: 10px;
  box-sizing: border-box;
}
.pack_link {
  color:rgb(229,227,229);
  text-decoration: underline;
}

.short_info:hover .pack_info {
  display:none;
}
.pack_info2 {
  display:none;
}
.short_info:hover .pack_info2 {
  display:block;
}
.free_background {
  background-color: rgb(138,116,185);
}

.free_border {
  border-top-color: rgb(138,116,185);
}

.free_color {
  color:rgb(138,116,185);
}

.standard_background {
  background-color: rgb(76,186,146);
  color: white;
}

.standard_border {
  border-top-color: rgb(76,186,146);
}

.standard_color {
  color:rgb(76,186,146);
}

.plus_background {
  background-color: rgb(52,153,224);
  color: white;
}

.plus_border {
  border-top-color: rgb(52,153,224);
}

.plus_color {
  color:rgb(52,153,224);
}

.entreprise_background {
  background-color: rgb(239,181,124);
  color: white;
}

.entreprise_border {
  border-top-color: rgb(239,181,124);
}

.entreprise_color {
  color: rgb(239,181,124);
}

.short_info {
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  color:white;
  height:300px;
}

.arrow_box {
  position: relative;
  background: rgb(138,116,185);
  border-radius:5px;
}

.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(176, 89, 213, 0);
  border-top-color: rgb(138,116,185);
  border-width: 15px;
  margin-left: -15px;
}

.coming_soon {
  margin: 10px 10px 10px 40px;
  padding: 5px;
  width: 110px;
}

.pack_price {
  align-items: center;
  display: flex;
  justify-content: center;
}

.price_device {
  font-size: 40px;
  margin-bottom: 10px;
}
.price {
  font-size: 70px;
  font-weight: bold;
}

.pack_button {
  margin-top: 30px;
  border: 2px solid #bcbcbd;
  color #acacad:
  padding:8px;
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.detailed_info {
  margin-top: 20px;
}

.info_title {
  font-size: 15px;
  font-weight: bold;
}
.info_list li {
  list-style: circle;
}


.info_list li span {
  color: #69696f;
}

.info_title, .info_subtitle {
  display: block;
}

.info_subtitle {
  border-bottom: 1px solid #8a74b9;
}

.menu {
  display:flex;
  justify-content: flex-start;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  height:60px;
}
.menu ul li {
  list-style: none;
  padding:5px;
  box-sizing: border-box;
  border-radius: 4px;
  height:100%;
}

.menu ul li:hover a {
  color:#3aa3e3;
}

.link {
  color:#3aa3e3;
}
.heart {
  color:#ec2a70;
}

.slider {
  width:100%;
  position:relative;
  overflow: hidden;
  height:300px;
}
.twitter {
  padding:0;
  display: flex;
  flex-direction: row;
  width:300%;
  /*animation-name: AutoSlide;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;*/
}
.twitter li {
  width:50%;
  list-style: none;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 300px;
}

#teams {
  background-color:rgb(66,194,153);
  display: flex;
 flex-direction: row;
 color:white;
 justify-content: flex-end;
}

.teams_text h2 {
  font-size: 30px;
}

.teams_text p {
  font-size: 20px;
}

.teams_text {
  width:40%;
}

.teams_img {
  width:40%;
}

#perspective {
  background-color:rgb(106,76,166);
  display: flex;
 flex-direction: row;
 color:white;
 justify-content: center;
}

.perspective_img {
  width:40%;
}

.perspective_text {
  width:40%;
}

.perspective_text h2 {
  font-size: 30px;
}

.perspective_text p {
  font-size: 20px;
}

#bill {
  background-color:white;
  display: flex;
 flex-direction: row;
 color:black;
 justify-content: flex-end;
}

.bill_img {
  width:40%;
}

.bill_text {
  width:40%;
}

.bill_text h2 {
  font-size: 30px;
}

.bill_text p {
  font-size: 20px;
}

#good {
  background-color:rgb(249,182,68);
  display: flex;
 flex-direction: row;
 color:black;
 justify-content: center;
}

.good_img {
  width:40%;
}

.good_text {
  width:40%;
}

.good_text h2 {
  font-size: 30px;
  color:white;
}

.good_text p {
  font-size: 20px;
}

.good_link {
  color:black;
  font-weight: bold;
}

.good_link:hover {
  text-decoration: underline;
}

#talk {
  background-color:white;
  display: flex;
 flex-direction: row;
 color:black;
 justify-content: center;
 align-items: center;
}

.talk_img {
  width:20%;
}

.talk_text {
  width:60%;
}

.talk_text h2 {
  font-size: 30px;
}

.talk_text p, .talk_text ol li {
  font-size: 20px;
}

.data_button {
  border:1px solid white;
  background-color: transparent;
  color:white;
  padding:15px;
}

.talk_button {
  border-radius: 5px;
  border:0px;
  background-color: rgb(58,163,227);
  color:white;
  padding:10px;
}

.yellow {
  color:yellow;
}
#customers a:hover .arrow_state{
  display:inline;
}
.arrow_state {
  display:none;
}

.arrow_state:hover {
  display:inline;
}
.link:hover {
    text-decoration: underline;
}

#logo {
  display:block;
  width:106px;
  height:30px;
  background:url("../images/header_logo_sprite.png") 0 0 no-repeat;
  margin-left: 15px;
}

#your_team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#your_team_logo {
  border-radius: 5px;
  width:30px;
}

#your_team_text {
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
