body {
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

}

a {
  text-decoration: none;
  color:black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menu_button {
  height:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#menu_button span{
  margin-left: 5px;
  margin-right: 5px;
}

#pricing_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricing_pack {
  width:25%;
}

.short_info {
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(138,116,185);
  border-radius: 5px;
  color:white;
  position: relative;
}

.short_info:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgb(138,116,185);
  border-width: 20px;
  margin-left: -20px;
}

.pack_button {
  margin-top: 30px;
  border: 2px solid #bcbcbd;
  color #acacad:
  padding:8px;
  display: block;
}

.detailed_info {
  margin-top: 20px;
}

.info_list li {
  list-style: circle;
  color:rgb(138,116,185);
}


.info_list li span {
  color: #69696f;
}

.info_title, .info_subtitle {
  display: block;
}

.info_subtitle {
    border-bottom: 1px solid #8a74b9;
}

.menu {
  display:flex;
  justify-content: flex-start;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  height:60px;
}
.menu ul li {
  list-style: none;
  padding:5px;
  box-sizing: border-box;
  border-radius: 4px;
  height:100%;
}

.menu ul li:hover a {
  color:#3aa3e3;
}

#logo {
  display:block;
  width:106px;
  height:30px;
  background:url("../images/header_logo_sprite.png") 0 0 no-repeat;
  margin-left: 15px;
}

#your_team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#your_team_logo {
  border-radius: 5px;
  width:30px;
}

#your_team_text {
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
