body {
  margin:0;
  padding: 0;
  background-image: url("../images/neutrino-observatory-header-image.jpg");
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color:white;
}

h1 {
  font-size: 60px;
}

input[type="text"] {
  width:200px;
  height:50px;
}

input[type="submit"] {
  width:200px;
  height:50px;
  background-color: #56b68b;
  color:white;
  border-radius: 5px;
  text-align: center;
  border:0px;
  font-size: 20px;
}

input[type="submit"]:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(86, 182, 139, 0.8);
}

.location {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#menu {
  display:flex;
  justify-content: center;
}

#menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#menu ul li {
  list-style: none;
  padding:5px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

#menu ul li:hover {
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
}

#logo {
  display:block;
  width:106px;
  height:30px;
  background:url("../images/header_logo_sprite.png") 0 0 no-repeat;
  margin-left: 15px;
}

#your_team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#your_team_logo {
  border-radius: 5px;
  width:30px;
}

#your_team_text {
  margin-left: 5px;
  margin-right: 5px;
}

#more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  padding:5px 10px 5px 10px;
}

a.link {
  text-decoration: underline;
}
#more_text {
  color:white;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}

#intro h1 {
  width:70%;
}

#intro_text {
  width:70%;
  font-size: 20px;
}

#form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(174, 180, 180, 0.5);
  padding: 10px 50px 10px 50px;
  align-items: center;
}

#links_container {
  margin-top: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;


  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 81%, rgba(255,255,255,0) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(19%, rgba(0,0,0,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 81%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(0,0,0,1) 81%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 81%, rgba(255,255,255,0) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(0,0,0,1) 81%, rgba(255,255,255,0) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000',GradientType=0 ); /* ie6-9 */

}

#footer_bar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: space-between;
}

#bar_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 0px 10px 0px;
}

#icon {
  display:block;
  width:106px;
  height:30px;
  background:url("../images/header_logo_sprite.png") 75px 0 no-repeat;
  filter:brightness(60%);
}

#icon:hover {
  filter:brightness(70%);
}

#social {
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
  width: 200px;
}
.center_text {
  text-align: center;
}

.place:hover {
  text-decoration: underline;
}

.white_color {
  color:white;
}
.links {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  font-size: 12px;
}
.links ul {
  padding:0;
}
.links ul li {
  list-style: none;
  margin-top:5px;
  margin-bottom: 5px;
}
.links_title {
  text-transform: uppercase;
  color:white;
}

.links_url {
  color: rgba(255, 255, 255, 0.5);
}

.links_url:hover {
  color: rgba(255, 255, 255, 0.7);
}
.footer_link {
  color: rgba(255, 255, 255, 0.5);
}
.footer_link:hover {
  color: rgba(255, 255, 255, 0.75);
}

#heart {
   position: relative;
   width: 50px;
   height: 45px;
}
#heart:before,
#heart:after {
   position: absolute;
   content: "";
   left: 12px;
   top: 3px;
   width: 5px;
   height: 10px;
   background: white;
   -moz-border-radius: 50px 50px 0 0;
   border-radius: 50px 50px 0 0;
   -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
           transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
       -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
           transform-origin: 0 100%;
}
#heart:after {
   left: 7px;
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
       -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
           transform-origin :100% 100%;
}

@media screen and (max-width:750px) {
  #menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  h1 {
    font-size: 30px;
  }
  header {
    padding-bottom:100px;
  }
  #form_container {
  }
  #links_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .links {
    width:100%;
    text-align: center;
  }
  #footer_bar {
    justify-content: space-around;
  }
  #social {
    padding-right: 0px;
    width: 100%;
    justify-content: flex-end;
  }
  #icon {
    background: rgba(0, 0, 0, 0) url("../images/header_logo_sprite.png") no-repeat scroll 20px 0;
    width: 55px;
  }
  .footer_link {
    margin-left: 5px;
    margin-right: 5px;
  }
  .location {
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 0px;
  }
  #intro_text {
    text-align: center;
  }
  input {
    margin-top: 10px;
  }
  input[type="submit"] {
    width:215px;
  }
}
